.circle {
  width: 20vh;
  height: 20vh;
  background: #ff8522;
  color: #fff;
  border: 10px solid #fab57d;
  box-shadow: 0 0 0 10px #f7d5b9;
  border-radius: 10vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
