<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="speedometer-outline"></ion-icon>
      <ion-label>主页</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="green-light-list">
      <ion-icon name="receipt-outline"></ion-icon>
      <ion-label>放行记录</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="merchant">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>个人中心</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
