.inlayInput {
  width: 14.28%;
  text-align: center;
}
.inlayInput[ng-reflect-disabled='false'] {
  border-color: #40a9ff;
  border-right-width: 1px !important;
  outline: 0;
  z-index: 1;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}
