<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>我的车辆</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showKeyboard()">绑定</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingText="松开刷新"
      refreshingText="加载中..."
    ></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item-sliding *ngFor="let item of info.car; index as idx">
      <ion-item>
        <ion-label>
          <h2>{{item.num}}</h2>
          <p>绑定时间：{{item.createdAt | date:'yyyy-MM-dd HH:mm:ss'}}</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deleteCar(item, idx)">
          删除
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ng-template #inputBox>
    <nz-input-group nzCompact>
      <input
        readonly
        type="text"
        class="inlayInput"
        *ngFor="let item of inputArr;"
        [(ngModel)]="item.value"
        [disabled]="item.disabled"
        nz-input
      />
    </nz-input-group>
  </ng-template>

  <!-- 键盘 -->
  <app-virtual-keyboard
    [(visible)]="visible"
    [isShowControl]="isShowControl"
    (onKeyboardClick)="onKeyboardClick($event)"
    (onClearClick)="onClearClick($event)"
    (onDelClick)="onDelClick($event)"
    (onOkClick)="onOkClick($event)"
    [inputBox]="inputBox"
    [(currentRenderKeyboard)]="currentRenderKeyboard"
  >
  </app-virtual-keyboard>
</ion-content>
